.welcome {
    display: flex;
}

.wlcm-and-img {
    display: flex;
    width: 90%;
    justify-content: space-between;
    box-sizing: border-box;
    margin-left: 8rem;
    align-items: center;
}

.follow-us {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 2rem;
    margin: 5rem 3.3rem 0 3.3rem;
}

.follow-us div:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.follow-us p {
    transform: rotate(90deg);
    white-space: nowrap;
}

.follow-us div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 1rem;
}

.wlcm p:nth-of-type(1) {
    color: #0db760;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 145%;
}

.wlcm p:nth-of-type(2) {
    width: 545px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 70px;
    line-height: 100%;
    color: #0B0C0C;
}

.wlcm span {
    color: #0db760;
}

.wlcm p:nth-of-type(3) {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #323433;
    width: 545px;
}

.wlcm-btn {
    display: flex;
    gap: 1rem;
}

.wlcm button{
    background: #0DB760;
    border-radius: 12px;
    border: none;
    padding: .5rem 1rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #fff; 
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.1);
    line-height: 150%;
}


@media (max-width:1280px) {
    .my-photo {
        width: 70%;
    }

    .my-photo img {
        width: 100%;
    }
}

@media (max-width:1100px) {
    .follow-us {
        margin: 5rem 2rem 0 2rem;
    }
    .wlcm-and-img{
        margin-left: 6.5rem;
    }
    .wlcm p:nth-of-type(2){
        font-size: 42px;
        width: 400px;
        line-height: 90%;
    }
    .wlcm p:nth-of-type(3){
        width: 420px;
        word-wrap: normal;
    }
}

@media (max-width:980px){
    .follow-us {
        margin: 5rem 1.5rem 0 1rem;
    }
    .wlcm-and-img{
        margin-left: 4rem;
    }
}

@media (max-width:820px){
    .wlcm p:nth-of-type(2){
        font-size: 34px;
        width: 360px;
        line-height: 90%;
    }
    .wlcm p:nth-of-type(3){
        width: 380px;
        word-wrap: normal;
    }
}

@media (max-width:769px){
    .wlcm-and-img{
        margin-left: 1.5rem;
    }
    .follow-us {
        margin: 5rem .5rem 0 1rem;
    }
}

@media (max-width:700px){
    .wlcm p:nth-of-type(2){
        font-size: 28px;
        width: 300px;
        line-height: 90%;
    }
    .wlcm p:nth-of-type(3){
        width: 320px;
        word-wrap: normal;
    }
}
@media (max-width:600px){
    .wlcm-and-img{
        flex-direction: column;
    }
    .wlcm p:nth-of-type(2){
        font-size: 32px;
        width: 340px;
        line-height: 90%;
    }
    .wlcm p:nth-of-type(3){
        width: 420px;
        word-wrap: normal;
    }
    .follow-us{
        margin: 2rem .5rem 0 .5rem;
        justify-content: center;
    }
}
@media (max-width:480px){
    .wlcm p:nth-of-type(2){
        font-size: 32px;
        width: auto;
        line-height: 90%;
    }
    .wlcm p:nth-of-type(3){
        width: auto;
        word-wrap: normal;
    }
    .wlcm button:nth-of-type(1) {
        background: #0DB760;
        border-radius: 12px;
        border: none;
        padding: .5rem .5rem;
        font-family: 'Inter';
        font-weight: 400;
        font-size: 16px;
        color: #fff;
        line-height: 150%;
    }
}

@media (max-width:363px){

    .wlcm p:nth-of-type(2){
        font-size: 24px;
        width: auto;
        line-height: 90%;
    }
    .wlcm p:nth-of-type(3){
        font-size: 16px;
        width: auto;
        word-wrap: normal;
    }

}


